<a *ngIf="text" class="navbar-brand rounded-pill fi-button" routerLink="/uploadPhoto" routerLinkActive="active" ariaCurrentWhenActive="page">
    <p class="m-0">{{text}}</p>
</a>


<!-- 
------------------------------Clases------------------------------

********************************************************************************************************

navbar-brand = se usa para el titulo o logo de la navbar, en este caso se usa en todas porque se quiere dar la misma importancia/enfasis en todos los botones.

rounded-pill = Redondeo los bordes del boton para que parezca un chorizo.

fi-button = Especificada en el scss local. Regula cosas referentes al estilo del boton y como se muestra.

********************************************************************************************************

m-0 = Elimna el margen del elemento (lo setea a 0).

-->