<div class="mx-3">
    <app-section-heading [classes]="'pt-5 pb-4 mb-2'" [text]="'Discover'"></app-section-heading>
    <p class="fi-subtitle">What's new today</p>
    <app-post-carousel [posts]="posts"></app-post-carousel>
</div>


<!-- 
------------------------------Clases------------------------------

********************************************************************************************************

mx-{valor} = especifica el margin en el eje x (izquierda-derecha) del elemento.

********************************************************************************************************

fi-subtitle = especificado en el scss global. Regula cosas respecto al estilo del texto

pt-{valor} = establece un espacio de relleno en la parte superior del elemento.

pb-{valor} = establece un espacio de relleno en la parte inferior del elemento.

mb-{valor} = establece un margen en la parte inferior del elemento.

-->