<div class="container w-100">
    <div class="row w-100 gx-2 gy-2 mt-2">
        <div class="col-sm grid" *ngFor="let img of posts">
            <img src="{{img.postImg.url}}" alt="">
        </div>
    </div>  
</div>

<!-- 
------------------------------Clases------------------------------

container =

w-100 =

********************************************************************************************************

w-100 =

row =

gx-{valor} =

gy-{valor} =

mt-{valor} =

********************************************************************************************************

col-sm = 

grid = Especificado en el scss local. Regula cosas respecto al tamaño de las columnas.

-->