<ngb-carousel #ngcarousel *ngIf="posts" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let post of posts">
    <div (touchstart)="captureSwipeStart($event)" (touchend)="swipePost($event)">
        <app-post-image [image]="post.postImg" [userId]="post.userId"></app-post-image>
        <app-info-user [userId]="post.userId"></app-info-user>
    </div>
  </ng-template>
</ngb-carousel>


<!-- 

  ------------------------------Atributos de componente interno------------------------------

  [showNavigationArrows] = son las flechas que estan el carousel (false = oculta).

  [showNavigationIndicators] = son los indicares que estan abajo en el carousel (false = oculta).

  (touchstart) = Evento que se emite si el usuario toca el elemento (solo para pantallas tactiles).

  (touchend) = Evento que se emite cuando el usuario suelte la pantalla (solo para pantallas tactiles).


-->