.fi-section-heading {
    
    font-weight: 400; //Establece el grueso de los caracteres, el valor 400 seria = a "normal".
    
    font-size: 2.5rem; //Especifica el tamaño de la letra. (la unidad rem signifixa que es relativo al tamaño del elemento raiz)
    
    letter-spacing: -0.015em; //Estable el espacio horizontal entre los carcateres. (la unidad em significa que es relativo al tamaño de su propio elemento)
}