<div class="mx-3">
    <app-section-heading [classes]="'pt-5 pb-4 mb-2'" [text]="'Subir foto'"></app-section-heading>
    <div class="mt-2">
        <app-upload-page-button></app-upload-page-button>
    </div>
    <app-upload-decription-bar></app-upload-decription-bar>
</div>

<!-- 
------------------------------Clases------------------------------

********************************************************************************************************

mx-{valor} = especifica el margin en el eje x (izquierda-derecha) del elemento.

********************************************************************************************************

pt-{valor} = establece un espacio de relleno en la parte superior del elemento.

pb-{valor} = establece un espacio de relleno en la parte inferior del elemento.

mb-{valor} = establece un margen en la parte inferior del elemento.

mt-{valor} = establece un margen en la parte superior del elemento.


-->